.cards-container {
  padding: 40px 0;
}

.cards-container h2 {
  margin-top: 0;
  margin-bottom: 32px;
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-gap: 32px;
}

.cards > ul > li {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  transition: background-color 0.1s linear;

  &:hover {
    color: #fff;
    background-color: var(--test-brand-dark);
    
    .card-content {
      border-color: transparent;
    }

    svg {
      fill: white;
    }

    a {
      color: white;
    }
  }

}

.cards .card-image {
  height: 200px;
  overflow: hidden;
}

.cards .card-content {
  position: relative;
  border: 1px solid #cdd3d6;
  padding: 32px 32px 94px;
  flex: 1;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.cards h3 {
  margin: 1rem 0;
  font-size: 1rem;
}

.cards a {
  font-weight: bold;
  text-decoration: underline;
}

.cards .icon {
  position: absolute;
  bottom: 32px;
  left: 32px;
  width: 30px;
  height: 30px;
  z-index: 3;

  fill: var(--test-brand-dark);
}

.cards .icon svg {
  width: 100%;
  height: auto;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
